
h1,
h2,
p,
.choices,
.startScreem,
.startTimer {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    justify-content: center;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    text-align: center;
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
  }


.hide {
  display: none;
}

.show{
  display: block;
}